
section {
    margin-top: 10%;
    background-color: white;
    overflow-y: visible;
    /* overflow-x: hidden; */
}

#first {
    width: 98vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seco {
    height: 100%;
    margin-bottom: 14vh;
}

#dcarry {
    width: 90%;
    display: grid;
    grid-template-rows: 10vh 11vh 6vh auto;
    row-gap: 1em;
    justify-content: center;
}

#stext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#stext h4 {
    font-size: 1.6rem;
    color: black;
    text-transform: capitalize;
}

#stext h4 span {
    /* color: rgb(168,228, 102); */
    color: rgb(157, 111, 196);
    text-transform: capitalize;
}

#inp {
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

#downloadinput {
    border: solid;
    height: 2.7em;
    width: 90%;
    border-radius: 3px;
}

#searchvid {
    margin-left: 2%;
    width: 10%;
    height: 2.7em;
    border-radius: 2px;
    /* background: rgb(145, 210, 80); */
    background: rgb(94, 59, 128);
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
}
#searchvid:hover {
    background: rgb(94, 59, 130);
}

#mpbtn {
    margin-top: 0.5em;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    align-items: center;
    
}

#mpbtn button {
    
    /* background-color: rgb(214, 236, 179);*/
    background: rgb(94, 59, 128);
    margin-left: 2%;
    margin-right: 2%;
}

#mpbtn button:hover {
    background-color: rgb(94, 59, 138);
}

#result {
    /* border-top: 1px solid;*/
    /* padding-top: 3%; */
    padding-left: 6%;
    margin-bottom: 10%;
    padding-bottom: 5%;
}

#result ol {
    list-style-type: circle;
    color: gray;
}

#result ol li {
   margin-top: 0.5em;
   text-tansform: capitalize;
}

#result ol li::before {
   content: "⭕";
}

#resultC {
    display: grid;
    gap: 2em;
    margin-bottom: 10vh;
    width: 90%;
}

#resultVImg {
    min-height: 40vh;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 2em;
}

#vmp {
    height: 40vh;
    width: 100%;
    border-radius: 1px;
    border: 2px solid;
}

#resDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 1em;
}

#ht {
    font-weight: 700;
    text-transform: uppercase;
    text-justify:distribute-all-lines;
}

#hd {
    font-weight: 400;
    text-justify:distribute;
}

#hd a {
    text-decoration: underline;
}

#playB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 4em;
}

#dnbtn, #upbtn, #dnbtnp, #upbtnp, #sharefeed, #origin {
    width: 100%;
    height: 3em;
    border-radius: 3px;
    margin-bottom: 2em;
}

#dnbtn, #dnbtnp {
    /*background: rgb(125, 236, 125);*/
    background: rgb(94, 59, 128);
    color: white;
    font-weight: 700;
    transition: 2s ease;
}
#nbtn:hover, #dnbtnp:hover {
    background: rgb(94, 59, 138);
}

#upbtn, #upbtnp {
    /*background: rgb(255, 255, 255);*/
    background: rgb(94, 59, 128);
    border:  3px rgb(199, 238, 127) solid;
    transition: 2s ease;
    color: white;
    font-weight: 700;
}
#upbtn:hover, #upbtnp:hover {
    background: rgb(94, 59, 138);
}

#rangec {
    height: 30vh;
    margin-top: 1px solid;
}

#ranger {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startr, #endr {
    min-width: 20em;
    background-color: green;
    
}

#format {
    height: 10vh;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#seldiv {
    width: 100%;
}

#forSel {
    width: 42em;
    height: 3em;
    border: 1px solid;
}

#playmain {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 2em;
    justify-content: safe;
}

.playlistResult {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1em;
}

#disc {
    margin-bottom: 1em;
    border-bottom: 1px solid;
    min-height: 30vh;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.deatail {
    display: flex;
    /*grid-template-rows: 70% 30%;*/
    flex-direction: column;
    overflow: hidden;
}

#vimg {
    width: 80vw;
    height: 45vh;
}

#metadel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    font-weight: 600;
    min-height: 30vh;
}

#metadel h4, #metadel span {
    front-weight: 500;
}

#entries {
    max-height: 100vh;
    max-width: 95vw;
    overflow-y: scroll;
    margin-bottom: 2em;
}

#listv {
    height: 18vh;
    max-width: 80vw;
    margin-bottom: 2em;
    box-sizing: content-box;
    z-index: 888;
    box-shadow: 1px 1px 3px;
    background-color: transparent;
    border-radius: 6px;
    overflow: hidden;
}
#listv:hover {
    background-color: rgba(255, 255, 255, 0.486);
    box-shadow: 0.5px 0.5px 2px;
}

.vlistp {
    display: grid;
    grid-template-columns: 39% 49% 12%;
}

#listcimg {
    max-height: 14vh;
}

#plistdc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    box-sizing: border-box;
    overflow: hidden;
}

#downplbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#downloadplbtn {
    height: 2em;
    width: 100%;
    color: white;
    background-color: purple;
    border-radius: 2px;
}

#downloadplbtn:hover {
    background-color: rgb(113, 238, 113);
}

#btnss {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}

.optactive {
    background-color: transparent;
    border-bottom: 2px solid green;
    color: black;
    cursor: default;
}

#playformat {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-top: -9%;
    margin-bottom: -17%;
}

#playlistpp {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 85% 15%;
    overflow: hidden;
    box-sizing: content-box;
    /* margin-bottom: -12%; */
}

#playpopcon {
    width: 100%;
    overflow-y: scroll;
    margin-top: -11%;
}

#popimg {
    box-sizing: content-box;
    width: 100%;
    height: 25vh;
}

#popaimg {
    width: 100%;
    height: 100%;
}

#playcont {
    /* height: 30vh; */
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#playcont p {
    overflow: hidden;
    /* text-overflow: clip; */
    overflow-y: scroll;
    max-height: 3.5em;
    border-bottom: 1px solid green;
}

#playpopformat {
    height: 4em;
}

#playBP {
    margin: 0;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-top: 1px solid black;

}

#dnbtnplay, #dnbtnmic, #upbtnplay {
    height: 2em;
    width: 90%;
    border-radius: 9px;
    margin-bottom: 3px;
    border-color: 5px rgb(157, 111, 196) solid;
    transition: 1s ease;
}

.dnbtnp {
    background-color: purple;
}

.mibtn {
    background-color: rgb(94, 59, 128);
}

.upbtnp {
    background-color: rgb(94, 59, 128);
}

.mibtn:hover, .dnbtnp:hover, .upbtnp:hover {
    background-color: rgb(94, 59, 140);
}

.clicked {
    background-color: ghostwhite;
}

#loaderdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#cancelbtn {
    width: 4em;
    padding: 5px;
    background-color: rgb(94, 59, 128);
    border-radius: 4px;
    transition: 1sec ease;
}
#cancelbtn:hover {
    background-color: purple;
}

@media (max-width: 900px) {
    #first {
        width: 100vw;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    #dcarry {
        min-height: 100%;
        max-width: 99%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: grid;
        grid-template-rows: 8vh 20vh 8vh auto;
        justify-content: center;
        row-gap: 0.5em;
    }
    
    #stext {
        min-width: 98%;
        margin-top: 3%;
    }

    #stext h4 {
        font-size: 18px;
    }

    #inp {
        height: 20vh;
        width: 98vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #downloadinput #searchvid {
        width: 100%;
    }

    #searchvid {
        margin: 0;
        margin-bottom: 4em;
        width: 90%;
        height: 2em;
        border-radius: 5px;
        font-weight: 600;
    }
    #searchvid::after {
        content: " search";
    }

    #mpbtn {
        margin-top: 0;
    }

    #result ol {
       list-style-type: circle;
       color: gray;
    }
}

@media (max-width: 564px) {
    #stext {
        margin-top: 15%;
        max-width: 95vw;
    }

    #format {
        max-width: 93vw;
    }
}

@media (max-width: 400px) {
    #stext {
        margin-top: 19%;
    }

    #result ol {
       list-style-type: circle;
       color: gray;
    }
}
